<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="constr" value="Server= TDCCVPEOLDB01; Database=CVP_EOL_API; User ID = Read_user; Password = Read@4321;"/>
		
		<add key="TOSendMail" value="gopalp.ttl@tatamotors.com,rr.ttl@tatamotors.com"/>
		<add key="MailFrom" value="EOLAdmin@tatamotors.com" />
		<add key="Query" value="SELECT CAST(LEFT(ICCID,18) as Nvarchar(19)) ICCID,ccuid FROM [dbo].[CCUEOLS] WHERE ISNULL(IsICCIdSent,'N') = 'N' AND ccuid in (9167)" />
		<!--,9164,9165-->
		<add key="Logs" value="D:\\ApplicationLogs"/>
		

		<add key="SendMailTo" value="rr.ttl@tatamotors.com"/>
		<!--avinash.kesavamattam@tatamotors.com,ravib1.ttl@tatamotors.com-->
		<add key="SendMailBCC" value="gopalp.ttl@tatamotors.com"/>
	</appSettings>
</configuration>